{% extends 'base.html' %}

{% block content %}
<h2>Username: {{ profile.username }}</h2>

{% if profile.image_url %}
    <img src="{{ profile.image_url }}" width="300">
{% else %}
    <img src="https://images.unsplash.com/photo-1514888286974-6c03e2ca1dba?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Y2F0fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=1296&q=60" width="300">
{% endif %}

<p>First name: {{ profile.first_name }}</p>
<p>Last name: {{ profile.last_name }}</p>

<!-- Showing all of the posts written by a specific user -->

<p></p>
<h2> All stories by {{ profile.username }}</h2>


{% for story in profile.newsstory_set.all %}
    {% include "news/storyCard.html" with story=story %}
{% endfor %}


{% endblock %}

