{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}


{% block content %}

<div id="add-story">
    {% if user.is_authenticated %}
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="submit">
    </form>
    {% else %}
        <p>You are not logged in.</p>
        <a href="{% url 'login' %}">Login or</a> <a href="{% url 'users:createAccount' %}">Create Account</a> 
    {% endif %}  
</div>
{% endblock %}